html, body{
    height: 100%;
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    overflow-wrap:break-word;
}
.background{
    display: flex;
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 620px;
    background-position-x:center;
    height:max-content;
    min-height: 100%;
    gap 1%;
}
h1{
    font-size: 64px;
}
h2{
    font-size: 58px;
}
.homebutton{
    align-self: center;
    background-color: black;
    color: white;
    font-size: 28px;
    margin: 1%;
}
.blackoutline{
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    gap: 1%;
    padding: 1%;
}
.content{
    font-size: 28px;
    text-align: left;
    align-self: flex-start;
    margin: 1%;
}
.footer{
    vertical-align: bottom;
    align-self: flex-start;
}
.dishimg{
    width: 50%;
    background-color: rgba(0, 0, 0, 0.61);
    padding: 2%;
}
.recipelink{
    font-size: 28px;
    width: 32%;
    background-color: rgba(0, 0, 0, 0.61);
    min-width: 150px;
    color: white;
    height: fit-content;
    margin-bottom: 1%;
}
.linkimg{
    width: 80%;
    margin: 5%;
}
.links{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    gap: 1%;
    align-items: center;
}
.spacer{
    flex-grow: 1;
}