body{
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
h1{
    font-size: 64px;
    padding: 10px;
}
h2{
    font-size: 58px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.blackoutline{
    width: max-content;
    background-color: rgba(0, 0, 0, 0.61);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content{
    font-size: 32px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.footer{
    vertical-align: bottom;
}