body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #EBE1B0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    border: 0;
    min-height: 100vh;
    font-size: 20px;
}

.header{
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    font-size: 32px;
    font-weight: 900;
    background-color: #73260a;
}

.body{
    flex: 1;
    display: flex;
}

.sidebar{
    width: 15%;
    min-width: min-content;
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 16px;
    background-color: #0a0708;
    color: #c25000;
    font-size: 24px;
}

.main{
    flex: 1;
    display: flex;
    padding: 32px;
    background-color: #ebe1b0;
}

.main.links{
    flex-wrap: wrap;
    align-items: stretch;
}

.main.recipe{
    justify-content: center;
}

.content{
    background-color: #73260a;
    border: 1 px solid #dad0a3;
    box-shadow: 2px 4px 16px rgba (0,0,0,.06);
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    text-align: center;
}

.content.links{
   width: 300px;
}

.content.recipe{
    flex: 1;
}

a{
    text-decoration: none;
    color: #EBE1B0;
}

a.sidebar{
    color: #c25000;
}

.recipe-title{
    font-size: 28px;
    font-weight: 600;
}

.left{
    text-align: left;
}

.section-title{
    font-size: 24px;
    font-weight: 300;
}

ul.no-deco{
    list-style: none;
    margin: 0;
    padding: 0;
}

img.crop{
    width: 80%;
}

.footer{
    background-color: #c25000;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

.underline{
    text-decoration: underline;
}

.recipe-desc{
    display: flex;
    gap: 1%;
}



p.recipe-desc{
    flex: 1;
    flex-shrink: 0;
}

img.recipe-desc{
    width: 35%;
}