<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Name Here</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="background">
        <div class="blackoutline">
            <h1>Recipe Name Here</h1>
            <img src="img.jpg" class="dishimg" alt="Picture of Recipe Name Here">
            <button class="homebutton" onclick="window.location.href='../../index.html'">Home</button>
            <p class="content">
                Recipe Description Here
            </p>
            <h2>Ingredients</h2>
            <ul class="content">
                <li>Ingredients Here</li>
            </ul>
            <h2>Method</h2>
            <ol class="content">
                <li>
                    Steps Here
                </li>
            </ol>
            <h2>Notes</h2>
            <ul class="content">
                <li>
                    May not need delete this section if that is the case
                </li>
            </ul>
            <div class="spacer"></div>
            <p class="footer">Images Generated Though <a href="https://www.bing.com/images/create?FORM=GDPGLP">Image Creator from Microsoft Bing</a></p>
        </div>
    </div>
</body>
</html>