<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Name Here</title>
</head>
<body>
   <h1>Recipe Name Here</h1>
   <img src="img.jpg" alt="Picture of Recipe Name Here">
   <p><a href="../../index.html">Home</a></p>
   <p>Recipe Description Here</p>
   <h2>Ingredients</h2>
   <ul>
    <li>Ingredients Here</li>
   </ul> 
   <h2>Method</h2>
   <ol>
    <li>Steps Here</li>
   </ol>
   <h2>Notes</h2>
   <p>May not be needed delete if so.</p>
   <p>Immages Generated Though <a href="https://www.bing.com/images/create?FORM=GDPGLP">Image Creator from Microsoft Bing</a></p>
</body>
</html>