<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECIPE NAME</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    
    <div class="header"> 
        <ul class="no-deco">
            <li>
                My Recipes
            </li>
        </ul>
    </div>
    
    <div class="body">
        <div class="sidebar">
            <ul class="no-deco">
                <li>
                    <a href="../../index.html">Home</a>
                </li>
            </ul>
        </div>

        <div class="main recipe">    
            <div class="content recipe">
                <div class="recipe-title underline">
                    RECIPE NAME
                </div>
                
                <div class="desc">
                    <div class="desc-img">
                        <img src="resources/img/img.jpg" class="desc" alt="Picture of RECIPE NAME">
                    </div>
                    
                    <div class="desc-text left">
                        Recipe Description Here
                    </div>
                </div>

                <div class="instruc">
                    <div class="ingred">
                        <div class="section-title underline">
                            Ingredients
                        </div>
        
                        <ul class="left">
                            <li>
                                Ingredients Here
                            </li>
                        </ul>        
                    </div>

                    <div class="method">
                        <div class="section-title underline">Method</div>

                        <ol class="left">
                            <li>
                                Steps here
                            </li>
                        </ol>        
                    </div>
                </div>

                <div class="section-title underline">
                    Notes
                </div>

                <ul class="left">
                    <li>
                        May not need delete this section if that is the case
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <ul class="no-deco">
            <li>
                Images Generated Though <a class="underline" href="https://www.bing.com/images/create?FORM=GDPGLP">Image Creator from Microsoft Bing</a>
            </li>
            
            <li>
                Textures Provided by <a class="underline" href="https://tileable.co">Tileable</a>
            </li>
        </ul>
    </div>  
</body>
</html>